{% include "Quiz/partials/head.html" %}
<body>
    {% include "Quiz/partials/header.html" %}
    <main class="main-content-container">
        <div class="quiz quiz-list-item">   
            <div class=" container mt-5 ">
                <h1>Criar Quiz</h1>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Save Quiz</button>
                </form>
            </div>
        </div>
    </main>
</body>
{% include 'Quiz/partials/footer.html' %}
</html>
