<!DOCTYPE html>
<html>
<head>
    <title>Create Quiz</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        
        <label for="title_quiz">Titulo:</label>
        <input type="text" id="tile_quiz" name="title_quiz" required><br>

        <label for="description_quiz">Descrição:</label>
        <input type="text" id="description_quiz" name="description_quiz" required><br>

        
        <label for="image">Imagem:</label>
        <input type="file" id="image" name="image" required><br>
        
        
        <input type="submit" value="submit">
    </form>
    
</body>
</html>