{% include "Quiz/partials/head.html" %}
<body>
    {% include "Quiz/partials/header.html" %}
    {% include "Quiz/partials/search.html" %}
<main class="main-content-container">
        <div class="main-content  main-content-list  container">
            {% include "Quiz/partials/quiz.html" %}
            {% include "Quiz/partials/quiz.html" %}
            {% include "Quiz/partials/quiz.html" %}
            {% include "Quiz/partials/quiz.html" %}
            {% include "Quiz/partials/quiz.html" %}
            {% include "Quiz/partials/quiz.html" %}
            
        </div>
    </main>
{% include "Quiz/partials/footer.html" %}

</body>
</html> 