<header class="main-header-container">
    <div class="main-header container">
        <div class="first-header container">
            <h1>
                <a class="main-logo"  href="/">
                    <i class="fas fa-fire" style="color: #FFD43B; padding: 10px"></i>
                    <span class="main-logo-text">Quiz</span>
                </a>
            </h1> 
        </div>
        <div  class="second-header container">
                 <h2>
                    <ul class="list-navbar" style="text-decoration: none;">
                        <li >
                            <a href="Create_user/" style="text-decoration: none; color: white;">Entrar</a>
                        </li>
                        <li >  
                            <a href="Create_quiz/" style="text-decoration: none; color: white;">Criar Quiz</a>
                        </li>
                        <li >  
                            <a href="My_quiz/" style="text-decoration: none; color: white;">Meus Quizs</a>
                        </li>
                    </ul>
                 </h2>

        </div>
    </div>
</header>