<div class="quiz quiz-list-item">
    <div class="quiz-cover">
        <img src="https://placehold.jp/269fe6/ffffff/1280x720.png" alt="temp">
    </div>
    <div class="quiz-title-container">
        <h2 class="quiz-title">AAAAAAAAAAALorem ipsum dolor sit amet.</h2>
    </div>

    <div class="quiz-author">
        <span class="quiz-author-item">
            <i class="fas fa-user"></i>
            RIVOTRIL
        </span>
        <span class="quiz-author-item">
            <i class="fas fa-calendar-alt"></i>
            16/10/2021 às 11:21
        </span>
    </div>

    <div class="quiz-content">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni fugiat commodi ullam quas modi.
            Ea cumque labore veniam, sequi corrupti quas beatae fuga alias quae, vero dicta accusamus
            aliquam in!</p>
    </div>
    <footer class="quiz-footer">
        <a class="quiz-read-more button button-dark button-full-width" href="/quizs/3/">
            <i class="fas fa-book"></i>
            <span>Inciar Quiz</span>
        </a>
    </footer>
</div>