{% extends "Quiz/partials/base_quiz.html" %}


{% block second_content %}
<div class="quiz quiz-list-item">
    

    <div class="quiz-content">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni fugiat commodi ullam quas modi.
            Ea cumque labore veniam, sequi corrupti quas beatae fuga alias quae, vero dicta accusamus
            aliquam in!</p>
    </div>
    <footer class="quiz-footer quiz">
        <a class="quiz-read-more button button-dark button-full-width" href="/Quiz/2049c727-3207-4a89-81b1-c5ecfe8c9c95/">
            <i class="fas fa-book"></i>
            <span>resp 1</span>
        </a>
        <a class="quiz-read-more button button-dark button-full-width" href="/Quiz/2049c727-3207-4a89-81b1-c5ecfe8c9c95/">
            <i class="fas fa-book"></i>
            <span>resp 2</span>
        </a>
        <a class="quiz-read-more button button-dark button-full-width" href="/Quiz/2049c727-3207-4a89-81b1-c5ecfe8c9c95/">
            <i class="fas fa-book"></i>
            <span>resp 3</span>
        </a>
        <a class="quiz-read-more button button-dark button-full-width" href="/Quiz/2049c727-3207-4a89-81b1-c5ecfe8c9c95/">
            <i class="fas fa-book"></i>
            <span>resp 4</span>
        </a>
    </footer>
</div>

{% endblock second_content %}