{% extends "Quiz/partials/base_quiz.html" %}


{% block content %}
<div class="quiz-cover">
    <img class="quiz-image" src="{{quiz.image.url}}" alt="temp">
    </div>

<div class="quiz-title-container">
    <h2 class="quiz-title">{{ quiz.title }}</h2>
</div>

<div class="quiz-author">
    <span class="quiz-author-item">
        <i class="fas fa-user"></i>
        {{quiz.author}}
    </span>
    <span class="quiz-author-item">
        <i class="fas fa-calendar-alt"></i>
        {{quiz.created_at|date:"d/m/Y H:i" }}
    </span>
</div>


    

    <div class="quiz-content">
        <p>{{quiz.description}}</p>
    </div>
    <footer class="quiz-footer">
        <a class="quiz-read-more button button-dark button-full-width" href="{{quiz.uuid}}">
            <i class="fas fa-book"></i>
            <span>Inciar Quiz</span>
        </a>
    </footer>


{% endblock content %}
